<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="/">Pineapple Cat Jazz</a> -->
    <%= link_to "Pineapple Cat Jazz", root_path, class: 'navbar-brand' %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Courses", courses_path  %></li>
        <li><%= link_to "About", about_path  %></li>
        <li><%= link_to "Pricing", pricing_path  %></li>
        <li><%= link_to "FAQ", faq_path  %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><a href="#">Welcome, <%= current_user.email %></a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
        <li><%= link_to('Login', new_user_session_path) %>  </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
